@import url('https://fonts.googleapis.com/css2?family=Delius&family=Roboto:ital,wght@0,100..900;1,100..900&family=Shadows+Into+Light&family=Yuji+Boku&display=swap');

:root {
  --header-height: 60px;
  --bg-body: #ffffffda;
  --txt-body: #050505;
  --bg-nav: #f5f5f5;
  --color-primary: #0f0f0fc9;
  --btn-color: #011f11;
}

body.dark {
  --bg-body: #646462;
  --txt-body: #000000;
  --bg-nav: #03111b;
  --btn-color: #ecf7f1;
  --color-primary: #262526;
}

html {
  /* root */
  margin-top: 0.5rem;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: var(--bg-body);
  color: var(--txt-body);
  font-family: "Delius", cursive;
  margin: 0;
  font-size: 1.3rem;
}

body.dark .menu__list{
  
  color: #fff;
}

body.dark .name__logo{
  color: #fff;
}

body.dark .bi {
  color: #fff;
}

body.dark .footer__social i {
  font-size: 24px;
  color: #fafafa;
  transition: color .5s;
}


img {
  max-width: 100%;
  height: auto;
}

/* Utilities */
.section {
  padding: 45px 0 20px;
}

.section__title {
  position: relative;
  text-align: center;
}

.section__title::after {
  position: absolute;
  left: 50%;
  bottom: 0;
  content: '';
  display: inline-block;
  width: 50px;
  height: 5px;
  border-radius: 4px;
  background-color: var(--color-primary);
  transform: translateX(-50%);
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 20px;
}

.btn {
  color: var(--btn-color);
  border: none;
  padding: .75em 1.2em;
  cursor: pointer;
}

.main {
  overflow: hidden;
}

/* Header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--bg-nav);
  box-shadow: 0 0 25px #00000036;
  z-index: 1000;
}

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--bg-nav);
  background-color: var(--bg-nav);
}

.logo {
  color: var(--color-primary);;
  font-size: 24px;
  font-weight: 700;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.logo i {
  color: #0a0a0ac0;
  font-size: 38px;
  padding-right: 0.5rem ;
}

.name__logo{
  color: #070707be;
}

.menu {
  /* custome propertie */
  /* --nombre-de-la-propiedad: valor; */
  display: flex;
  gap: 20px;
  background-color: var(--bg-color);
}

.menu__list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  align-items: center;
  gap: 20px;
}

.menu__link {
  color: var(--color-text);
  font-weight: 600;
  text-decoration: none;
  transition: color .3s;
}

.menu__link:hover {
  color: #a7a3a3;
}

.menu__link.active {
  color: #8f8c8c;
}

.btn-resume {
  background-color: #081d24c9;
  border: 2px solid transparent;
  color: #fff;
  text-decoration: none;
  transition: background-color .5s;
  border-radius: 10px;
}

.btn-resume:hover {
  background-color: #fff;
  border: 2px solid var(--color-primary);
  color: var(--color-primary);
}

/* Dispositivos md Tablet */
/* 0 - 768px */
@media (max-width: 900px) {
  .menu {
    text-align: center;
    background-color: var(--color-primary);
    flex-direction: column;
    justify-content: space-evenly;
    position: fixed;
    top: 0;
    left: -100%;
    bottom: 0;
    width: 100%;
    transition: left .5s;
  }

  .show-menu {
    left: 0;
  }

  .menu__list {
    flex-direction: column;
    gap: 2rem;
  }

  .menu__link {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 700;
    text-decoration: none;
    transition: color .3s;
  }

  .menu__link:hover {
    color: #fff;
  }

  .menu__link.active {
    color: rgb(247, 243, 244);
  }

  .btn-resume {
    background-color: transparent;
    background-color: var(--bg-alt-color);
    border: 1px solid #fff;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    width: max-content;
    display: block;
    margin: 0 auto;
    font-size: 0.8rem;
    transition: background-color .5s;
    
  }

  .btn-resume:hover {
    background-color: #fff;
    color: var(--color-primary);
  }
}

.btn-close {
  position: absolute;
  background-color: rgba(0, 0, 0, 50%);
  color: #fff;
  top: 20px;
  right: 20px;
  font-size: 28px;
  width: 48px;
  height: 48px;
  padding: .5em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: background-color .5s;
}

.btn-close:hover {
  background-color: #ced1d1;
}

.btns {
  display: flex;
  gap: 1rem;
}

.btn-open {
  background-color: transparent;
  font-size:1.8rem ;
  padding: 0;
}

.btn-theme {
  background-color: transparent;
  font-size: 22px;
  padding: 0;
}

.btn-lang {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-lang a {
  color: var(--color-text);
  text-decoration: none;
}

/* Hero */
.hero {
  background: linear-gradient(0deg, #000000cc, #000000dc 60%), url('/assets/img/fondo-min.JPG');
  background-size: cover;
  /* cover | container principal de hero */
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero__title {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 400;
  color: #fff;
  
}

.hero__name {
  font-size: 3rem;
  color: #fafafac9;
  font-weight: 400;
}

.hero__description {
  min-width: 300px;
  color: #fff;
}


.hero__content-img {
  position: relative;
  width: 20rem;
  height: 20rem;
  overflow: hidden;
  box-shadow: 0 0 25px #f1f0f02f;
  border-radius: 50%;
  
 
}

.hero__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform .5s;
  opacity: 60%;
}

.hero__img:hover {
  transform: scale(1.1);
}

.hero__description {
  font-size: 1.5rem;
  padding: .5em 1em;
  background-color: var(--color-primary);
  border-radius: 12px;
  text-align: center;
}

.social {
  list-style: none;
  padding: 0;
  margin: 30px 0;

  display: flex;
  width: 100%;
  justify-content: center;
  gap: 20px;
  
}

.social__link {
  color: #fff;
  
}

.social__link i {
  font-size: 24px;
  transform: scale(1);
  transition: color .5s, transform .3s;
  
}

.social__link i:hover {
  transform: scale(1.5);
  color: #cec7c7;
}


/* Skills / habilidades */
.skills__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 20px;
  
}

.skills__card {
  background-color: #8f918e2a;
  border-radius: 10px;
  padding: 20px;
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.skills__icon {
  width: 50px;
}

.skills__text {
  display: block;
  text-align: center;
}

.skills__content {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.skills__list {
  list-style: none;
  padding: 0;
}

/* Projects */
.projects__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

.projects__card {
  background-color: #4dc01421;
  /* width: 300px; */
  border-radius: 10px;
  overflow: hidden;
}

.project__img-container {
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.projects__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform .5s;
}

.projects__card:hover .projects__img {
  transform: scale(1.25);
}

.projects__links {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  width: 100%;
}

.projects__links a {
  visibility: hidden;
  opacity: 0;
  font-weight: 800;
  font-size: 1rem;
  color: #5df506;
  padding: .5em 1em;
  display: inline-block;
  border-radius: 4px 4px 0 0;
  transition: opacity .5s;
}

.projects__card:hover .projects__links a {
  visibility: visible;
  opacity: 1;
}

.projects__content {
  padding: 20px;
}

/* Contact */
.contact__content {
  padding-top: 20px;
  text-align: center;
}

.contact__text {
  margin-bottom: 40px;
}

.contact__box {
  border: 1px solid var(--btn-color);
  border-radius: 5px;
  padding: .5em 0.5em;
  width: max-content;
  margin: 0 auto;
}

.contact__link {
  text-decoration: none;
  color: #141414;
  display: flex;
  align-items: center;
  gap: 10px
}

.contact__link p {
  border-left: 2px solid var(--btn-color);
  padding-left: 10px;
}

/* Footer */
.footer {
  margin-top: 40px;
  background-color: var(--bg-nav);
  
}

.footer__container {
  border-top: 1px solid var(--btn-color);
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.footer__container p {
  color: var(--btn-color);
  font-size: 14px;
  text-align: center;
}

.footer__social {
  margin: 0;
  width: auto;
  height: auto;
  
}

.footer__social i {
  font-size: 24px;
  color: #0a0a0a;
  transition: color .5s;
}

.footer__social i:hover {
  color: #0a0a0a;
}

/* movles */

@media (max-width: 768px) {

  .hero {
    background: linear-gradient(0deg, #000000cc, #000000dc 60%), url('/assets/img/nueva.JPG');
    background-size:cover;
    /* cover | container principal de hero */
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .hero__content-img {
    display: none;
  }

  .btn-mobile {
    display: none; /* El botón de CV se oculta en pantallas grandes */
  }

  .hero__description {
    font-size: 1.5rem;
    padding: 1.1em;
    background-color: var(--color-primary);
    border-radius: 2rem;
    text-align: center;
    margin-bottom: 5rem;
  }

 .hero__title{
    margin-top: 0;
    margin-bottom: 5rem; /* Ajusta el espacio si es necesario */
  }

  /* Asegurarse de que el botón de CV se vea en el mismo lugar */
  .btn-mobile {
    display: block;
    margin-top: 6rem; /* Ajusta el espacio entre el texto y el botón */
  }
}

@media (min-width: 769px) {
  .btn-mobile {
    display: none; /* El botón de CV se oculta en pantallas grandes */
  }
}


@media (min-width: 1200px) {
  .menu__list {
    font-size: 1rem;
  }

  .btn-resume {
    font-size: 0.8rem;
  }

  .menu__list {
    color: var(--color-primary);
  }

  .name__logo {
    color: black;
    font-size: 0.8rem;
  }

  .logo {
    color: var(--color-primary);
  }

  

  .section__title {
    font-size: 2.5rem;
  }

  .hero__title {
    font-size: 3rem;
  }

  .hero__name {
    font-size: 3rem;
  }

  .hero__description {
    font-size: 2rem;
  }

  .skills__subtitle {
    font-size: 2rem;
  }

  .skills__item {
    font-size: 1.5rem;
  }
}

@media (min-width: 900px) {
  :root {
    --header-height: 90px;
  }



  .section__title {
    font-size: 1.75rem;
  }

  .btn-close {
    display: none;
  }

  
  .btn-open {
    visibility: hidden;
  }

  .hero__container {
    flex-direction: row-reverse;
    gap: 60px;
  }

  .hero__title {
    font-size: 3rem;
  }

  .hero__name {
    font-size: 4rem;
  }

  .hero__description {
    min-width: 300px;
  }

  .social {
    gap: 40px;
  }

  .about p {
    font-size: 1.5rem;
    
  }

  .contact__text {
    font-size: 1.25rem;
  }
}

@media (min-width: 1024px) {
  
  .section__title {
    font-size: 2rem;
  }

  .hero__content-img {
    width: 25rem;
    height: 25rem;
    
  }

  .hero__title {
    font-size: 4rem;
  }

  .hero__name {
    font-size: 4rem;
  }

  .hero__description {
    font-size: 1.6rem;
  }

  .social__link i {
    font-size: 32px;
  }

  .about p {
    font-size: 1.5rem;
  }

  .skills__content {
    flex-direction: row;
    align-items: center;
  }

  .skills__subtitle {
    font-size: 1.5rem;
  }

  .skills__item {
    font-size: 1.25rem;
  }

  .skills__container {
    width: 60%;
  }

  .contact__text {
    font-size: 1.5rem;
  }
}

